<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between">
        <a href="/" class="text-2xl font-bold">Lego Collection</a>
        <div class="flex space-x-4">
            <li><a class="<%= (page == '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
            <li><a class="<%= (page == '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>


            <a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a>
            <div class="dropdown relative">
                <summary class="cursor-pointer">Theme</summary>
                <ul class="dropdown-content absolute hidden bg-gray-700 mt-2 p-2 space-y-2">
                    <li><a href="/lego/sets?theme=technic" class="<%= (page == "/lego/sets") ? 'active' : '' %>">Technic</a></li>
                    <li><a href="/lego/sets?theme=star-wars" class="hover:underline">Star Wars</a></li>
                    <li><a href="/lego/sets?theme=city" class="hover:underline">City</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>